# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.backup
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*
package-lock.json

.nodered/.config.json
.nodered/*.backup
.nodered/flows_cred.json
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
.vscode/simulate/*
www/
$RECYCLE.BIN/
logs/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
